// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  border: 1px solid black;
}

body {
  background-color: lightblue;
}
nav {
  background-color: red;
  
}

form {
  margin: 20px;
}

a {
  display: block;
  margin: 20px;
}

button {
  margin: 20px;
}

.header {
  border: 2px solid black;
  text-align: center;
}

.question {
  text-align: center;
  margin: 30px;
}
